# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual environments
.env
.venv
env/
venv/
ENV/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archives & Temporary files
*.zip
*.tar.gz
*.rar
*.anki_flashcards.txt
